
<div >
<div class="modal-header">
            <h3>Edit Form</h3>
</div>

<form name="newContactForm">
    <div class="modal-body panel panel-body">
        <div class="col-md-8 form-group">
            <input 
                type="text" 
                class="form-control" 
                placeholder="{{ctrl.editContact.name}}" 
                required 
                ng-model="ctrl.editContact.name" >
        </div>
        <div class="col-md-8 form-group">
            <input 
                type="text" 
                class="form-control" 
                placeholder="{{ctrl.editContact.username}}" 
                required 
                ng-model="ctrl.editContact.username" 
                value="fg">
        </div>
        <div class="col-md-8 form-group">
            <input 
                type="mail" 
                class="form-control" 
                placeholder="{{ctrl.editContact.email}}" 
                required 
                ng-model="ctrl.editContact.email" 
                ng-pattern = "ctrl.emailPattern">
        </div>
        <div class="col-md-8 form-group">
            <input 
                type="text" 
                class="form-control" 
                placeholder="{{ctrl.editContact.address.street}}" 
                required 
                ng-model="ctrl.editContact.address.street">
        </div>
        <div class="col-md-8 form-group">
            <input 
                type="text" 
                class="form-control" 
                placeholder="{{ctrl.editContact.phone}}" 
                required 
                ng-model="ctrl.editContact.phone">
        </div>
        <div class="col-md-8 form-group">
            <input 
                type="text" 
                class="form-control" 
                placeholder="{{ctrl.editContact.website}}" 
                required 
                ng-model="ctrl.editContact.website" 
                ng-pattern="ctrl.websitePattern">
        </div>
        <div class="col-md-8 form-group">
            <input 
                type="text" 
                class="form-control" 
                placeholder="{{ctrl.editContact.company.name}}" 
                required 
                ng-model="ctrl.editContact.company.name">
        </div>

    </div>
    <div class="modal-footer panel panel-body">
              <button class="btn btn-warning" ng-click="ctrl.deleteContact()">Delete contact</button>
              
              <button class="btn btn-success" ng-click="ctrl.applyEditing(ctrl.editContact, newData)" ng-disabled="newContactForm.$invalid">edit</button>
    </div>
</form>
</div>